#./docker-compose.yml
services:
  mysql:
    image: mysql:8.0
    container_name: crudder_mysql
    environment:
      MYSQL_ROOT_PASSWORD: root_password
      MYSQL_DATABASE: crudder_db_test
      MYSQL_USER: crudder_user
      MYSQL_PASSWORD: crudder_p455w0rd
    volumes:
      - mysql_data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql:ro
      # - ./my.cnf:/etc/mysql/my.cnf:ro  # remover
    networks:
      - mynetwork
    healthcheck:
      test: [ "CMD-SHELL", "mysqladmin ping -h 127.0.0.1 -uroot -p$$MYSQL_ROOT_PASSWORD --silent" ]
      interval: 5s
      timeout: 3s
      retries: 30
      start_period: 20s

  crudder:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: crudder_app
    env_file:
      - .env
    environment:
      DB_HOST: mysql
      DB_USER: crudder_user
      DB_PASSWORD: crudder_p455w0rd
      DB_NAME: crudder_db_test
    ports:
      - "8080:8080"
    depends_on:
      mysql:
        condition: service_healthy
    networks:
      - mynetwork
    healthcheck:
      test: [ "CMD", "/crudder-go", "--help" ]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 10s

networks:
  mynetwork:
    driver: bridge

volumes:
  mysql_data:


